html,
body {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

/*Overall Chat website layout */
.chat-container {
    height: 100%;
    padding: 52px 0 0 0;
}

.chat-container .row,
.chat-container .row #chats,
.chat-container .row .active-chat,
.chat-container .row #active-chat-members,
.chat-container .row .active-chat .container-fluid {
    height: 100%;
}

.chat-container * {

    padding: 0 0 0 0;
    margin: 0;
}

/* Font Sizes - MAYBE SIZE BASED ON THE MEDIA QUERIES THING */

h5 {
    font-size: 1vw;
}


/*Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/*Navbar */
/* The popup form - hidden by default */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 0 15px 0 0px;
}

.navbar img {
    height: 50px;
    position: absolute;

}

.navbar-nav>li {
    float: right;
}

.form-popup {
    display: none;
    position: fixed;
    top: 52px;
    right: 0px;
    /* the sign up and log in buttons and the popup for responsive css */
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

#userOpen {
    display: none;
}

input+p {
    color: rgb(218, 42, 42);
}
#loginForm .form-container p {
    margin-top: 10px;
}



/*Chats (left side) area */
#chats hr {
    width: 75%;
    height: 0.1px;
    border-color: rgb(175, 199, 209);
    background-color: rgb(175, 199, 209);
    margin: 0 auto;

}

#chats .row#chats-header {
    height: 60px;
}

#chats .row#chats-header+hr {
    width: 100%;
    height: 0.1px;
    border-color: rgb(175, 199, 209);
    background-color: rgb(175, 199, 209);
    margin: 0 auto;

}

#chats {
    outline: 2px solid rgb(175, 199, 209);

}

#chats .row {
    height: 40px;
    width: 100%;
}

#chats .row .col-lg-12 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chats .row .col-lg-12:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: -webkit-grab;
    cursor: grab;
}

#chats .row .col-lg-12 img {
    height: 25px;
}

#createNewChat {
    display: flex;
    justify-content: center;
}

#chats a {
    color: #333;
    text-decoration: none;
}

/* New Chat popup styles*/
/* The Modal (background) */
#newChatForm {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(39, 38, 38, 0.6);
    padding-top: 50px;
    border: none;
}

/* Modal Content/Box */
#newChatForm .form-container {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */

}

/* Style the horizontal ruler */
#newChatForm hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}





/* Active chat area */
/* Header/Title Area */
.active-chat hr {
    width: 100%;
    height: 0.1px;
    border-color: rgb(175, 199, 209);
    background-color: rgb(175, 199, 209);
    margin: 0 auto;

}

#header-area {
    height: 60px;
}

#header-area .col-lg-12 {
    height: 100%;
    padding: 0 25px 0 25px;
    display: flex;
    align-items: center;
}

#header-area img {
    height: 35px;
}

/* Messages section */
#message-area {
    height: 70%;
    width: 100%;
    padding: 20px 5px 20px 5px;
    /* 
    outline: 2px solid rgb(175, 199, 209);
    outline-offset: -50px; */
}

#message-area .col-lg-12 {
    height: 100%;
    width: 100%;
    padding: 0px 20px 0px 20px;
    overflow-y: scroll;
}

.chatBox {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;

}

.chatBox::after {
    content: "";
    clear: both;
    display: table;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chatBox p {
    word-wrap: break-word;
}


/*Submit messages area */
#input-area {
    height: 20%;
    padding: 0 25px 20px 25px;

}

#input-area .col-lg-12 {
    width: 100%;
    height: 100%;
    position: relative;
}

#input-area .col-lg-12 textarea {
    width: 100%;
    height: 100%;
    padding: 6px 60px 6px 12px;
    resize: none;
}

#submit {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 9px 5px 7px;
}



/*Active Chat Users Area */

#active-chat-members {
    outline: 2px solid rgb(175, 199, 209);

}

#active-chat-members hr {
    width: 75%;
    height: 0.1px;
    border-color: rgb(175, 199, 209);
    background-color: rgb(175, 199, 209);
    margin: 0 auto;

}

#active-chat-members .row {
    height: 40px;
    width: 100%;
}

#active-chat-members .row .col-lg-12 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#active-chat-members .row .col-lg-12:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: -webkit-grab;
    cursor: grab;
}

#active-chat-members a {
    color: #333;
    text-decoration: none;
}

#active-chat-members .logged-in {
    background-color: green;
}

#active-chat-members .logged-out {
    background-color: red;
}